@model FlightTicketReservation.Models.dupflight;

@{
    ViewData["Title"] = "Create";
}

<h1>Add a new Flight >-></h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Flightid" class="control-label"></label>
                <input asp-for="Flightid" class="form-control" />
                <span asp-validation-for="Flightid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flightname" class="control-label"></label>
                <input asp-for="Flightname" class="form-control" />
                <span asp-validation-for="Flightname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Source" class="control-label"></label>
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination" class="control-label"></label>
                <input asp-for="Destination" class="form-control" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departuretime" class="control-label"></label>
                <input asp-for="Departuretime" class="form-control" />
                <span asp-validation-for="Departuretime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arrivaltime" class="control-label"></label>
                <input asp-for="Arrivaltime" class="form-control" />
                <span asp-validation-for="Arrivaltime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Totalcapacity" class="control-label"></label>
                <input asp-for="Totalcapacity" class="form-control" />
                <span asp-validation-for="Totalcapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Costperseat" class="control-label"></label>
                <input asp-for="Costperseat" class="form-control" />
                <span asp-validation-for="Costperseat" class="text-danger"></span>
            </div>
            <div class="form-data">
                <label asp-for="Imagepath" class="control-label"></label>
                <input asp-for="Imagepath" class="for-control" type="file" />
                <span asp-validation-for="Imagepath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="getallFlights">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
