<h1>hello @ViewBag.adname</h1>
<br>
<h2>welcome to Flight ticket Booking</h2>
<br>
<h1><a asp-action="getallFlights">get the flight details</a></h1>
<br>
<br>
<br>
<br>
<h1><a asp-action="getallRoutes">get the route details</a></h1>
