@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1>Welcome to Flight Ticket Booking !!!</h1>
    <br>
    <br>
    <br>

    <h1><a asp-controller="Admin" asp-action="login">admin</a></h1>
    <br>
    <h1><a asp-controller="Customer" asp-action="login">Customer</a></h1>
</div>
