<link rel="stylesheet" href="~/wwwroot/css/customer.css"/>

<div style="background-image: url('wwwroot/images/one.png');" class="homeb">
<h1>hello @ViewBag.name</h1>
<br>
<br>
<h2>Welcome to Flight Booking System</h2>

<h1><a asp-action="getallFlights">get the flight details</a></h1>
<br>
<br>
<br>
<br>
<h1><a asp-action="getindBookings">get your booking details</a></h1>
</div>